# ==========================
# Python
# ==========================
backend/.venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# ==========================
# Databases
# ==========================
backend/*.db
backend/*.sqlite
backend/*.sqlite3

# ==========================
# Node
# ==========================
frontend/node_modules/
frontend/dist/
frontend/.env

# ==========================
# IDE
# ==========================
.vscode/
.DS_Store
Thumbs.db